.banner{
    color: #1E3231;
    font-family:'Courier New', Courier, monospace;
}
body{
    color: #1E3231;
    background-color: #8E7c93;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}